html, body {
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: #333;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    font-family: Verdana, serif;
    padding-top: 20px;
}

.counter-row {
    color: #FF4040;
    font-weight: bold;
    line-height: 1
}

.counter-row h3 {
    font-weight: bold;
}

.counter {
    font-size: 3.5rem;
}

.country {
    font-weight: bold;
    white-space: nowrap;
}

.page-title {
    width: 128px;
    height: 56px;
    margin-left: 15px;
    background-image:url('/logo.png');
    background-size: cover;
}

#toggle-audio {
    width: 25px;
    height: 20px;
    /*background-image: url('/video/audio-on.svg');*/
    background-size: cover;
    position: absolute;
    top: 45px;
}

#toggle-audio.audio-on {
    background-image: url('/video/audio-on.svg');
    background-size: cover;
    width: 25px;
    height: 20px;
    right:20px;
}

#toggle-audio.audio-off {
    background-image: url('/video/audio-off.svg');
    background-size: cover;
    width: 15px;
    height: 20px;
    right: 30px;
}


.marquee{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}

.marquee span {
    display:inline-block;
    padding-left:100%;
    animation: marquee 320s infinite linear;
}

@keyframes marquee{
    0%{transform: translate(0, 0);}
    100%{transform: translate(-100%, 0)}
}

.countries {
    position: absolute;
    font-family: Verdana, serif;
    bottom: 10px;
    left: 0;
    color: #FF4040;
    font-weight: bold;
    size: 1.5em;
    font-size: 1.75rem;
}


@media (min-width: 768px) {
    .counter {
        font-size: 6rem;
        letter-spacing: -3px;
    }

    .page-title {
        width: 159px;
        height: 69px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
        padding-left: 0;
        padding-right: 0;

    }
}

