html, body {
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: #333;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    font-family: Verdana, serif;
}

.counter-row {
    color: #FF4040;
    font-weight: bold;
    line-height: 1
}

.counter-row h3 {
    font-weight: bold;
}

.counter {
    font-size: 3.5rem;
}
.page-title {
    width: 128px;
    height: 56px;
    margin-top: 20px;
    margin-left: 15px;
    background-image:url('/logo.png');
    background-size: cover;
}

@media (min-width: 768px) {
    .counter {
        font-size: 7rem;
    }

    .page-title {
        width: 159px;
        height: 69px;
    }
}


